/**
 * Paste some code here and explore the syntax tree
 * created by https://github.com/reworkcss/css. Enjoy!
 */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: red;
  font-size: 18px;
}

p {
  color: purple !important;
}

@media screen and (min-width: 600px) {
  body {
    background: green;
    font-size: 21px;
  }
}

.class1.class2, .class3 {
}

@import url('style.css');


.class1 {
  float:left;
}

.class2 {
  float:left;
}
.class3 {
  float:left;
}
.class4 {
  float:left;
}
.class5 {
  float:left;
}
.class6 {
  float:left;
}
.class7 {
  float:left;
}
.class8 {
  float:left;
}
.class9 {
  float:left;
}
.class10 {
  float:left;
}
.class11 {
  float:left;
}
