<h1>CSS Smell</h1>
<p>CSS Smell provides basic code smell for your CSS files</p>
<p>Upload a file, or paste/type in some text and click submit to find out what our (very opinionated) tool thinks of your code</p>
{{#if errors}}
	<h1>Parsing Errors</h1>
	<div class="well">
		<ul>
			{{#each errors}}
				<li>Error at line {{this.line}} column {{this.column}}: {{this.reason}}</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
{{#if linting}}
	<h1>Lint Errors</h1>
	<div class="well">
		<ul>
			{{#each linting}}
				<li>
					Issue(s) found between lines {{this.start}} and {{this.end}}:
					<ul>
						{{#each this.messages}}
							<li>{{this}}</li>
						{{/each}}
					</ul>
				</li>
			{{/each}}
		</ul>
	</div>
{{/if}}
{{#if noErrors}}
<div class="alert alert-success">
	<p>Your code smells beautiful! Have a haiku:</p>
	<p>Like roses it smells</p>
	<p>Beauty is your CSS</p>
	<p>Go and code for fun</p>
</div>
{{/if}}
<form enctype="multipart/form-data" method="post" id="css_form">
	<div>
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active">
				<a href="#file_input" aria-controls="file_input" aria-role="tab" data-toggle="tab">File Input</a>
			</li>
			<li role="presentation">
				<a href="#text_input" aria-controls="text_input" aria-role="tab" data-toggle="tab">Text Input</a>
			</li>
		</ul>
		<div class="tab-content">
			<div class="form-group tab-pane active" id="file_input" role="tabpanel">
				<label for="css_file">Upload a CSS File:</label>
				<input type="file" name="css_file" id="css_file" class="form-control" />
			</div>
			<div class="form-group tab-pane" id="text_input" role="tabpanel">
				<label for="css_text">Input your CSS as Text:</label>
				<textarea class="form-control" rows="5" name="css_text"></textarea>
			</div>
		</div>
		<button id="submit" class="btn">Submit</button>
	</div>
</form>
