/**
 * Paste some code here and explore the syntax tree
 * created by https://github.com/reworkcss/css. Enjoy!
 */

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: red;
  font-size: 18px;
}

p {
  color: purple;
}

.class1, .class3 {
}
